header , nav {
    text-align: center;
}
header h1, header h4 {
    Color : blue;
}

nav a {
    color : blue;
    text-decoration: none;
    font-size: 1.8em;
    margin: 50px;
    text-align: center;
}

nav a:hover { /* pseudo class */
	color: purple;
	transition: .8s;
}

#currentPage {
    text-decoration: underline;
}

figure {
    float: left;
}

section p{
    width: auto;
}

body { 
	background-color: azure;
	color: midnightblue;
 }
 
 footer {
     clear : left;
     text-align: center;
     font-size: .8em;
     color: darkcyan;
 }
 
 span a {
     color : midnightblue;
     text-decoration: underline;
 }
 
 span a:hover {
     color : blue;
     transition: .5s;
 }

 #sourceLink {
 	color : mediumblue;
 }

 hr {
 	border: 1px dashed orange;
 }

h2 {
	color: peru;
}

#htmlTitle{
	color: orangered;
}

#cssTitle{
	color : skyblue;
}

#jsTitle{
	color: darkgoldenrod;
}

.internalLink {
	color: blue;
}