header , nav {
    text-align: center;
}
header h1, header h5 {
    Color : blue;
}

nav a {
    color : blue;
    text-decoration: none;
    font-size: 1.8em;
    padding: 100px;
    text-align: center;
}

nav a:hover { /* pseudo class */
	color: purple;
	transition: .8s;
	text-decoration: underline;
}

figure, section {
    float: left;
}

section p{
    width: 600px;
}

body { 
	background-color: azure;
	color: midnightblue;
 }
 
 footer {
     clear : left;
     font-size: .8em;
     color: darkcyan;
 }