body { 
	background-color: black;
	color: yellow;
 }

 header, nav, footer {
 	text-align: center;
 }

header h1 {
	font-family: 'Pacifico' , cursive;
	font-size: 4em;
	margin-bottom: 0px;
	color: red;
}

nav a {
	color: red;
	font-size: 2em;
	padding: 100px;
	text-decoration: none;
}

nav a:hover { /* pseudo class */
	color: orange;
	font-size: 2.2em;
	transition: 1s;
}

#currentPage{
	text-decoration: underline;
}

#portrait, #welcomeText {
	float: left;
}

footer {
	clear:left;
	font-size: .8em; 
	color: grey;
}

table {
	margin: 0px auto;
}

td {
	padding-right: 10px;
	font-size: 2em;
}

td strong{
	color: orange;
}

#tableHeader{
	background-color: #401a00
}

.tableRow{
	background-color: #754000
}

ul{
	text-align: left;
	padding-left: 200px;
}

.hobby {
	color: orange;
}