
body { 
    text-align: center;
	background-color: bisque;
 }

.jumbotron{
    background-color: cornflowerblue;
    color: midnightblue
}

.item-display{
    color: navy;
    font-size: 1.2em;
}

#cart{
    color: green;
    font-size: 1.2em
}
 
footer {
    clear : left;
    text-align: center;
    font-size: .8em;
    color: darkcyan;
}